body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #a0aee3;
    overflow: hidden;
}

.navbar li {
    float: right;
    display: inline;
    margin-right: 20px;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: .5s ease;
}

.navbar li a:hover {
    background-color: #7e93de;
    border-radius: 10px;
}

section {
    padding: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

#budget-section {
    margin: 20px 0;
}

#adjust-budget-btn {
    background-color: #a0aee3;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#adjust-budget-btn:hover {
    background-color: #7e93de;
}

#add-to-fridge input {
    margin-right: 10px;
}

button {
    background-color: #a0aee3;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #7e93de;
}

#fridge-items-table th:nth-child(1),
#fridge-items-table td:nth-child(1) {
    width: 40ch;
}

#fridge-items-table {
    width: 100%;
    border-collapse: collapse;
}

#fridge-items-table th,
#fridge-items-table td {
    padding: 8px;
}

#fridge-items-table th {
    text-align: left;
}

#toggle-view {
    margin: 10px 5px;
}

#block-view {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.fridge-item-block {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 425px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: .5s ease;
}

.fridge-item-block:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.fridge-item-image {
    width: 425px;
    height: auto;
    display: block;
}

.fridge-item-details {
    margin-top: 10px;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
}

.delete-button:hover {
    background-color: #d32f2f;
}
