header {
    font-family: "Gill Sans";
    text-align: center;
    margin-bottom: 50px;
}

body {
    font-family: "Gill Sans"
}

span {
    color: #246bef;
    font-family: "serif";
}

.image-container {
    display: inline-block;
    width: 50px;
    height: 70px;
    overflow: hidden;
}

.image-container img {
    width: 100px;
    height: auto;
    object-fit: cover;
    transform: translateX(-28px);
}



.container {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.option img {
    filter: grayscale(100%);
    transition: .5s ease;
}

.option:hover img {
    filter: grayscale(0%);

}

h3 {
    text-align: center;
}
