body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

/* Navigation Bar Styling */
.navbar {
    list-style-type: none;
    /* Remove bullet points */
    margin: 0;
    padding: 0;
    background-color: #b2caae;
    /* Dark background color */
    overflow: hidden;

}

.navbar li {
    float: right;
    /* Align the items horizontally */
}

.navbar li a {
    display: block;
    color: white;
    /* Text color */
    text-align: center;
    padding: 14px 20px;
    /* Padding around the links */
    text-decoration: none;
    /* Remove underline */
}

.navbar li a:hover {
    background-color: #111;
    /* Darker background on hover */
}

/* Clear float after the navbar items */
.navbar::after {
    content: "";
    clear: both;
    display: table;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #333;
}

section {
    padding: 20px;
    margin-top: 20px;
}

#fridge-items,
#shopping-items,
#reminder-list {
    margin-top: 10px;
}

#add-to-shopping-list input {
    margin-right: 10px;
}

button {
    background-color: #b2caae;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #a4c89d;
}

#fridge-items-table th:nth-child(1),
#fridge-items-table td:nth-child(1) {
    width: 40ch;
    /* Set width to approximately 30 characters */
}

/* Optional styling to make the table look better */
#fridge-items-table {
    width: 100%;
    /* Let the table take full width */
    border-collapse: collapse;
    /* Remove gaps between borders */
}

#fridge-items-table th,
#fridge-items-table td {
    /* border: 1px solid #ddd; */
    /* Border for table cells */
    padding: 8px;
    /* Padding inside table cells */
}

#fridge-items-table th {
    /* background-color: #f2f2f2; */
    /* Light background for headers */
    text-align: left;
    /* Align text in headers */
}

.navbar li {
    float: left;
    /* Align the items horizontally */
}

.navbar li a {
    display: block;
    color: white;
    /* Text color */
    text-align: center;
    padding: 14px 20px;
    /* Padding around the links */
    text-decoration: none;
    /* Remove underline */
}

.navbar li a:hover {
    background-color: #111;
    /* Darker background on hover */
}

/* Clear float after the navbar items */
.navbar::after {
    content: "";
    clear: both;
    display: table;
}